<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/master.css">
    <title>Bulletin board</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body>
    <header>
      </br><h1>Thoughts</h1></br>
    </header>
    <div class="posts">

<!-- main start-->

<!-- views/posts/show.ejs -->
<div class="panel panel-default">
  <div class="panel-heading"><h3><%= data.title %></h3>
  <div class="time">Created at
    <%= data.createdAt.toLocaleTimeString() %>
  </div>
  <% if(data.updatedAt) { %>
    <div class="time">Edited at
      <%= data.updatedAt.toLocaleDateString() %>
      <%= data.updatedAt.toLocaleTimeString() %>
    </div>
  <% } %>
  </div>
<div class="panel-body"><p><%= data.body %></p></div>

</div>
<a href="/posts/<%=data._id%>/edit"><button type="button" class="btn btn-info">Edit</button></a>
<!-- Delete button here -->
<form class="btn_delete" action="/posts/<%=data._id%>?_method=delete" method="post">
  <button type="submit" class="btn btn-info">Delete</button>
</form>
<a href="/posts/"><button type="button" class="btn btn-info">Back</button><a>
    </div>
  </body>
</html>
